<head>
    <script>
        $(document).ready(function () {
            // Handle OK button click
            $('#confirmDelete').on('click', function () {
                dataToPass = $('#confirmDelete').val();
                var stringArray = dataToPass.split(':');
                if (stringArray[0] == 'DeletePendingRecruitment') {

                    var recruitmentId = parseInt(stringArray[1], 10);

                    var url = '/Employer/DeleteRecruitment?recruitmentId=' + recruitmentId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'HideOnlineRecruitment') {

                    var recruitmentId = parseInt(stringArray[1], 10);

                    var url = '/Employer/HideRecruitment?recruitmentId=' + recruitmentId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DeleteJobType') { 
                    var jobTypeId = parseInt(stringArray[1], 10);

                    var url = '/Admin/DeleteJobType?jobId=' + jobTypeId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DeletePaidType') {
                    var paidTypeId = parseInt(stringArray[1], 10);

                    var url = '/Admin/DeletePaidType?paidTypeId=' + paidTypeId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DeleteExperience') {
                    var expId = parseInt(stringArray[1], 10);

                    var url = '/Admin/DeleteExperience?experienceId=' + expId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DeleteRejection') {
                    var rejectionId = parseInt(stringArray[1], 10);

                    var url = '/Admin/DeleteRejection?rejectionId=' + rejectionId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DeletePricePacket') {
                    var pricePacketId = parseInt(stringArray[1], 10);

                    var url = '/Admin/DeletePricePacket?pricePacketId=' + pricePacketId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DeleteJobDetail') {
                    var jobId = parseInt(stringArray[1], 10);

                    var url = '/Employee/DeleteJob?jobId=' + jobId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DeleteDistrictDetail') {
                    var districtId = parseInt(stringArray[1], 10);

                    var url = '/Employee/DeleteDistrict?districtId=' + districtId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DeleteCity') {
                    var cityId = parseInt(stringArray[1], 10);

                    var url = '/Admin/DeleteCity?cityId=' + cityId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DeleteDistrict') {
                    var districtId = parseInt(stringArray[1], 10);
                    var cityId = parseInt(stringArray[2], 10);

                    var url = '/Admin/DeleteDistrict?districtId=' + districtId + '&cityId=' + cityId;
                    window.location.href = url;
                }

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Handle OK button click
            $('#confirmHide').on('click', function () {
                dataToPass = $('#confirmHide').val();
                var stringArray = dataToPass.split(':');
                if (stringArray[0] == 'HideOnlineRecruitment') {

                    var recruitmentId = parseInt(stringArray[1], 10);

                    var url = '/Employer/HideRecruitment?recruitmentId=' + recruitmentId;
                    window.location.href = url;
                }

            });
        });
    </script>
     <script>
        $(document).ready(function () {
            // Handle OK button click
            $('#confirmCancel').on('click', function () {
                dataToPass = $('#confirmCancel').val();
                var stringArray = dataToPass.split(':');
                if (stringArray[0] == 'CancelApply') {

                    var recruitmentId = parseInt(stringArray[1], 10);
                    var applyDetailId = parseInt(stringArray[2], 10);
                    var state = stringArray[3];
                    if (state == 'listpage') {
                        var url = '/Employee/CancelApplyJob?recruitmentId=' + recruitmentId + '&applyDetailId=' + applyDetailId + '&isList='+true;
                    }
                    else {
                        var url = '/Employee/CancelApplyJob?recruitmentId=' + recruitmentId + '&applyDetailId=' + applyDetailId+'&isList=' + false;
                    }
                   
                    window.location.href = url;
                }

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var dataToPass = "";
            $('.deleteButton').on('click', function () {
                dataToPass = $(this).val()
                var yesDeleteButton = $(document).find('#confirmDelete')
                yesDeleteButton.val(dataToPass)
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var dataToPass = "";
            $('.hideButton').on('click', function () {
                dataToPass = $(this).val()
                var yesDeleteButton = $(document).find('#confirmHide')
                yesDeleteButton.val(dataToPass)
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var dataToPass = "";
            $('.cancelButton').on('click', function () {
                dataToPass = $(this).val()
                var yesDeleteButton = $(document).find('#confirmCancel')
                yesDeleteButton.val(dataToPass)
            });
        });
    </script>
</head>
<!-- Modal -->
<div class="modal fade" id="deleteWarningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center mb-4">
                    <i class="fas fa-exclamation-triangle text-danger fa-3x"></i>
                </p>
                <h5 class="text-center mb-3">Are you sure you want to delete it?</h5>
                <p class="text-center">This action cannot be undone. Deleting it will permanently remove the item from your records.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="confirmDelete">OK</button>
            </div>
        </div>
    </div>
</div>

<!--Hide Modal -->
<div class="modal fade" id="hideWarningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center mb-4">
                    <i class="fas fa-exclamation-triangle text-danger fa-3x"></i>
                </p>
                <h5 class="text-center mb-3">Are you sure you want to hide it?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="confirmHide">OK</button>
            </div>
        </div>
    </div>
</div>

<!--Cancel Modal -->
<div class="modal fade" id="cancelWarningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center mb-4">
                    <i class="fas fa-exclamation-triangle text-danger fa-3x"></i>
                </p>
                <h5 class="text-center mb-3">Are you sure you want to cancel it?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="confirmCancel">OK</button>
            </div>
        </div>
    </div>
</div>
