@using HouseKeeper.Models.Views;
@model ForgetPasswordViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            max-width: 1000px; /* Increased container width */
            background-color: #fff;
            padding: 40px; /* Increased padding */
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h2 {
            margin-bottom: 30px; /* Increased margin bottom */
            font-size: 24px; /* Increased font size */
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input[type="email"], input[type="submit"], input[type="button"] {
            margin-bottom: 20px; /* Increased margin bottom */
            padding: 15px; /* Increased padding */
            border-radius: 8px; /* Increased border radius */
            border: 1px solid #ccc;
            font-size: 16px; /* Increased font size */
        }

        input[type="submit"], input[type="button"] {
            background-color: #763fd0;
            color: #fff;
            cursor: pointer;
        }

            input[type="submit"]:hover, input[type="button"]:hover {
                background-color: #b000b3;
            }

        .error-message {
            color: red;
            margin-bottom: 20px; /* Increased margin bottom */
            font-size: 14px; /* Increased font size */
        }
    </style>
    <partial name="HeaderInclude" />
</head>
<body>
    <partial name="BodyInclude" />
    <div class="container">
        <h2>Forgot Password</h2>
        <form asp-action="ForgetPassword" method="post" enctype="multipart/form-data" class="pt-1">
            <label for="email">Email</label>
            <input asp-for="Gmail" type="email" id="email" name="email" value="@Model.Gmail" required>
            <input type="submit" value="Send new password">
            <input type="button" value="Remember, Login" onclick="redirectToLoginPage()">
            <div class="error-message" id="errorMessage"></div>
        </form>
    </div>

    <script>
        function redirectToLoginPage() {
            window.location.href = '/Home/Login';
        }
    </script>

</body>
</html>

