<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary">HouseKeeper</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/Admin/ShowJobType" class="nav-item nav-link active">Home</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Account</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a href="/Admin/ShowStaffs" class="dropdown-item">Staffs</a>
                    <a href="/Admin/ShowEmployers" class="dropdown-item">Employers</a>
                    <a href="/Admin/ShowEmployees" class="dropdown-item">Employees</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Statistics</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a href="/Admin/ShowJobType" class="dropdown-item">Users</a>
                    <a href="/Admin/DrawChart" class="dropdown-item">Revenue</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Job</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a href="/Admin/ShowJobType" class="dropdown-item">Job Type</a>
                    <a href="/Admin/ShowPaidType" class="dropdown-item">Paid Type</a>
                    <a href="/Admin/ShowExperience" class="dropdown-item">Experience</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Other</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a href="/Admin/ShowRejection" class="dropdown-item">Rejection</a>
                    <a href="/Admin/ShowPricePackets" class="dropdown-item">Price Packet</a>
                    <a href="job-detail.html" class="dropdown-item">City/District</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Personal</a>
                <div class="dropdown-menu rounded-0 m-0">
                    @*  <a href="job-list.html" class="dropdown-item">Your infor</a> *@
                    <a href="@Url.Action("ChangePassword", "Admin")" class="dropdown-item">Change password</a>
                    <a href="/Home/LogOut" class="dropdown-item">Log out</a>
                </div>
            </div>
        </div>
        <a href="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Still dont know<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>