<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Spinner-->
    <partial name="DefaultHeaderInclude" />
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner-->
        <partial name="Spinner" />

        <!-- Navbar-->
        <partial name="Partical/StaffNav" />

        <!-- Carousel -->
        <div class="container-fluid p-0">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="/img/carousel-1.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4">Want to find housekeepers</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Looking for reliable housekeepers to maintain your home's cleanliness and organization?</p>
                                    <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Recruitment handled by me</a>
                                    <a href="#" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Recruitments Moderation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="/img/carousel-2.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4">Want to find housekeepers</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Whether you need assistance with daily chores, occasional deep cleaning, or special projects, finding the right housekeeper can make a significant difference in your quality of life.</p>
                                    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Accounts Moderation</a>
                                    <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Recruitments Moderation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <partial name="FooterPage" />

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- Script -->
    <partial name="ScriptInclude" />
</body>

</html>
